@import url('https://fonts.googleapis.com/css?family=Exo|Nunito+Sans|Roboto+Condensed');
.content {
    min-height: calc(100vh - 210px);
}
.footer {
    background: #212529;
    color: white;
}
.head {
    background: #212529;
}
.bus{
    padding-top: 30px
}
.busca{
    color:#005B88;
    font-size: 20px;
    position: absolute;   
    top: 0; 
    right: 20px;
    background: none; 
    border: none;
    padding-top: 37px
}
.dropdown i{
    font-size: 40px;
    color: white;
    padding-top: 27px;
    left: 50%;
    position: relative;
}
.cart i{
    font-size: 40px;
    color: white;
    padding-top: 27px;
    left: 50%;
    position: relative;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logos{
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.azul{
    color:#005b88
}
.branco{
    color:white;
}
.ins:hover{
    text-decoration: none;
    color:white;
    cursor: pointer
}
.titulo{
    text-align: center;
    font-family: 'Exo', sans-serif; 
}
.rs i {
    font-size: 25px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.brs{
    justify-content: center;
    display: flex;
}
.rs:hover{
    cursor: pointer;
}
.rs{
    display: inline-block;
    text-align: center;
    border-radius:100%;
    height: 40px;
    width: 40px; 
    border: 1px solid;
    margin-left: 3px;
    margin-right: 3px;
}

.foo{
    padding: 20px
}
.justificado{
    text-align: justify;
}
.center{
    text-align: center;
}
.fotoUser{
    margin-top: 20px;
    left: 50%;
    transform: translateX(-18%);
    position: relative;
    display: block;
    border:1px white solid;
}

.menuUser{
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    text-align: center;
    color:#212529;
}
.menuUser:hover{
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color:#005b88
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    padding: 20px;
    background:white;
    border-radius:5px;
    box-shadow: 0px 0.5px 0.5px 0.5px #212529; 
}
.dropdown-content:hover .dropdown-content {
    display: block;
}
.rede{
    /* 181b1e */
    color: #005b88;
    background: #1e2226;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Exo',sans-serif;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
.categorias ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #212529;
    margin-top:10px;
    border-radius: 5px;
}

.categorias li {
    display: inline;
}

.categorias li a {
    color: white;
    padding: 16px;
    text-decoration: none;
    position: relative;
}
.categorias{
    text-align: center;
}
.categorias li a:hover {
    background-color: #111;
}
.categorias li a{
    font-family: 'Exo',sans-serif;
}
.in h3,label,span{
    font-family: 'Exo', sans-serif;
}
.in h3{
    color: #005B88;
    font-weight: bold;
}
.in label{
    font-weight: bold;
}
.in{
    padding-bottom:30px; 
}
.headprod{
    background: #212529;
    color: white;
    font-family: 'Exo',sans-serif;
    border-radius: 5px;
}
.pad{
    padding-top: 10px;
}
.btn{
    font-family: 'Exo',sans-serif;
}
.fin{
    padding: 20px
}
.total h3{
    font-family: 'Exo',sans-serif;
    color: #005B88;
    font-weight: bold;
    margin: 0px;
    padding: 20px
}
.total h4{
    font-family: 'Exo',sans-serif;
    color: #005B88;
    font-weight: bold;
    margin:0px;
    padding: 20px
}

@media only screen and (max-width:992px){
    .head{
        padding-bottom: 20px
    }
    .logo{
        display: none;
    }
    .logos{
        display: block;
    }
    .cam{
        padding-bottom:30px
    }
    .dropdown{
        display: none;
    }
    .fotoUserMenu{
        margin-top: 20px;
        margin-bottom: 20px; 
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        display: block;
        border:1px #212529 solid;
        border-radius: 100%
    }
    .rede{
        color: #005b88;
        background: #1e2226;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Exo',sans-serif;
        text-align: center;
        margin-top: 10px;
        width: 250px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .car label{
        font-size: 8px
    }
    .op i,label{
        font-size: 8px
    }
    .cate{
        background: #212529;
        padding:5px;
        width: 150px;
        border-radius: 5px;
        text-align: center;
        margin-top:2px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .cate a{
        color: white;
    }
    .cate a:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .dropdown-cate a{
        color:#212529;
        left: 15%;
        position: relative;
    }
    
    .dropdown-cate a:hover{
        text-decoration: none;
        color: #111
    }
    .dropdown-cate{
        display: none;
        position: absolute;
        min-width: 150px;
        padding: 10px;
        z-index: 1;
        background:white;
        left: 50%;
        transform: translateX(-50%);
        border-radius:5px;
        box-shadow: 0px 0.5px 0.5px 0.5px #212529; 
    }
    .dropdown-cate:hover .dropdown-content {
        display: block;
    }
    .dropdown-cate:selection{
        text-decoration: none;
    }
}
@media only screen and (max-width:1100px){
    .dropdown-content{
        display: none;
        position: absolute;
        min-width: 175px;
        z-index: 1;
        padding: 20px;
        background:white;
        border-radius:5px;
        box-shadow: 0px 0.5px 0.5px 0.5px #212529; 
    }
}